:root {
    scroll-behavior: smooth;
    --color-brand-light-slate: #8e8f99;
    --color-brand-cornflower: #e7e9fc;
    --color-brand-cloud: #f4f4fd;
    --color-brand-navy-blue: #2e2f42;
    --color-brand-slate: #434455;
    --color-brand-almost-black: rgba(0, 0, 0, 0.67);
}

body {
    font-family: "Cormorant Garamond", serif;
    font-size: 23px;
    font-weight: 400;
    color: var(--color-brand-slate);
    background-color: var(--color-brand-cloud);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

link,
link:visited {
    font-family: Karla;
    color: var(--color-brand-almost-black);
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 9px;
    padding-top: 12px;

    color: rgb(0, 0, 0);
    font-family: Karla;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
}

section {
    padding: 100px 0;
}

.container {
    /* to see container boundaries. Delete later */
    /* outline: 2px solid red; */
    /* outline-offset: -2px; */
    background-color: var(--color-brand-cornflower);
}



/* 
  |=======================
  | Header
  |=======================
*/
.menu-links-list {
    text-transform: uppercase;
}