@font-face {
    /* cormorant-sc-regular */
    font-display: swap;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-sc-v18-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
}

/* cormorant-garamond-regular */
@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v16-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
}

/* cormorant-garamond-italic */
@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v16-cyrillic_cyrillic-ext_latin-italic.woff2') format('woff2');
}

/* cormorant-garamond-700 */
@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cormorant-garamond-v16-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

/* noto-sans-regular */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v36-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
}

:root {
    scroll-behavior: smooth;
    --color-brand-white: rgb(255, 255, 255);
    --color-brand-light-beige: rgb(239, 235, 232);
    --color-brand-dim-beige: rgb(217, 217, 217);
    --color-brand-beige: rgb(180, 170, 160);
    --color-brand-dark-beige: rgb(112, 91, 79);
    --color-brand-almost-black: rgba(217, 217, 217, 0);
    --color-brand-black: rgb(0, 0, 0);
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    font-weight: 400;
    color: var(--color-brand-black);
    background-color: var(--color-brand-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

link,
link:visited {
    font-family: 'Noto Sans';
    color: var(--color-brand-almost-black);
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: 1px solid;

    font-family: 'Noto Sans';
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
}

section {
    padding: 100px 0;
}

.container {
    /* to see container boundaries. Delete later */
    /* outline: 2px solid red; */
    /* outline-offset: -2px; */
    background: linear-gradient(-59.04deg, rgba(230, 169, 125, 0.2) 17.072%, rgba(255, 255, 255, 0.2) 51.462%), rgb(244, 240, 235);
}



/* 
  |=======================
  | Header
  |=======================
*/
.hero-header {
    text-transform: lowercase;
}

.header-logo {
    text-transform: uppercase;
}

.menu-links-list {
    text-transform: uppercase;
}

/* 
  |=======================
  | Footer
  |=======================
*/
.footer__menu {
    text-transform: capitalize;
}

.footer__address-link {
    text-transform: capitalize;
}